<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6> Who we are </h6>
                <div class="line"></div>
                <p> The company </p>
                <p> Historytelling </p>
                <p> Company policy </p>
                <p> La sportiva stores </p>
                <p> Work with us </p>
                <p> Customer satisfaction </p>
                <p> Technologies </p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6> Magazine </h6>
                <div class="line"></div>
                <p> News </p>
                <p> Events </p>
                <p> Athletes news </p>
                <p> Video </p>
                <p> Ambassadors </p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6> Online store </h6>
                <div class="line"></div>
                <p> Help </p>
                <p> Shop info </p>
                <p> Shipping </p>
                <p> Payments </p>
                <p> Return policy </p>
                <p> Customer service </p>
                <p> Track orders </p>
                <p> Size chart footwear </p>
                <p> Size chart apparel </p>
                <p> Privacy policy </p>
                <p> Cookies policy </p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6> Company </h6>
                <div class="line"></div>
                <p> FAQ </p>
                <p> Suggested dealers </p>
                <p> Authorized resoler </p>
                <p> Counterfeit </p>
                <p> General sales </p>
                <p> Conditions </p>
                <p> UGC T&C </p>
                <p> Contact us </p>
                <p> Privacy policy </p>
                <p> Cookies policy </p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <h6> Categories </h6>
                <div class="line"></div>
                <p> Climbing </p>
                <p> Mountaineering </p>
                <p> Approach </p>
                <p> Hiking </p>
                <p> Mountain running </p>
                <p> Socks </p>
                <p> Shoes accessories </p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <img class="logo-foot" src="/images/logo-lasportiva.png">
                <p class="small-paragraph">La sportiva spa, <br> via ischia, 2. <br> 38030 ziano di fiemme, trento,
                    italy.</p>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google"></i>
            </div>

        </div>
    </div>
</section>

<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- JS -->
<script src="/js/index.js"></script>
</body>

</html>