<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/afc9bccb61.js" crossorigin="anonymous"></script>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Test Zerogrey- La Sportiva </title>
</head>

<body>

    <nav>
        <div class="container">
            <ul>
                <li>
                    <a href="/"> <img class="logo" src="/images/logo-lasportiva.png" alt="logo">
                    </a>
                </li>
                <li class="nav-box">
                    <a href="#products"> Shop </a>
                </li>
                <li class="nav-box">
                    <a href="http://www.lasportiva.com/it/storia"> La Sportiva Experience </a>
                </li>
            </ul>
            <form action="/search" class="form-inline my-2 my-lg-0" method="POST">
                <input class="nav-src form-control mr-sm-2" type="text" name="search" placeholder="Search"
                    aria-label="Search">
                <i class="fas fa-search"></i>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"
                    tabindex="-1" />
            </form>
        </div>
    </nav>

    <section id="hero">
        <div class="head">
            <img class="sci" src="/images/ski.jpg">
            <div class="boot-container">
                <img class="boot" src="/images/SkorpiusCRbootNOBG.png">
            </div>

        </div>
        <div class="testo-hero">
            <h1> Skorpius CR </h1>
            <button class="btn btn-warning"> <i class="fas fa-skiing"></i> <a
                    href="https://www.lasportiva.com/it/skorpius-cr-1"> Discover Now </a></button>
        </div>
    </section>